[Unit]
Description=the house sensor data collection service
After=network-online.target houseportal.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=50s
EnvironmentFile=-/etc/default/housesensor
EnvironmentFile=-/etc/sysconfig/housesensor
ExecStart=/usr/local/bin/housesensor $OPTS

[Install]
WantedBy=multi-user.target

